<html>
	<head>
		<title>Halanx Homes</title>
		<meta charset="utf-8">
		<meta property="og:url" content="https://share.halanx.com/houses?id=<%=id%>" > 
		<meta property="og:type" content="article" >
		<meta property="og:site_name" content="Halanx Homes">
		<meta property="og:title" content="<%=title%>">
		<meta property="og:description" content="<%=description%>" >
		<meta property="og:image" itemprop="image" content="<%=image%>" >
		<meta property="og:image:secure_url" content="<%=image%>" >
		<meta property="og:image:width" content="200" >
		<meta property="og:image:height" content="200" >
		<meta name="twitter:card" content="summary" >
		<meta name="twitter:site" content="Halanx Homes" >
		<meta name="twitter:creator" content="Halanx Homes" />
	</head>
	<script>
		setTimeout(function(){
			window.location = "https://play.google.com/store/apps/details?id=com.halanx.userapp&hl=en";
		},100);
	</script>
</html>
